.simulation-time {
    font-size: 5rem;
    font-weight: 600;    
}

.simulation-day {
    font-size: 2rem;
    font-weight: 300;    
}

.simulation-date-group
{
    margin-left:25px;
    padding-top:10px;

}
